body {
    /* background: url(../images/landing_1.png); */
    background-position-y: 100px;
    background-position-x: 600px;
    background-repeat: no-repeat;
    background-blend-mode: saturation;
    z-index: 10;
}

.form-control {
    border: 2px solid black;
}

.custom-select {
    border: 2px solid black;
}

.card-headerNewProject {
    background-color: white;
    padding-left: 9px;
}

.newProjectContainer {
    border-radius: 5px;
    padding: 10px 30px;
}

.newProjectSaveButton {
    background-color: #007bff;
    color: white;
}

.newProjectSaveManage {
    background-color: #007bff;
    color: white;
}

.newProjectTitle {
    border-bottom: 1px solid black;
}