body {
    background: url(../images/landing_1.png);
    background-size: 250px;
    background-position-y: 530px;
    background-position-x: 10px;
    background-repeat: no-repeat;
    background-blend-mode: saturation;
    z-index: 1;
}

.form-control {
    border: 2px solid black;
    z-index: 10;
}

.custom-select {
    border: 2px solid black;
}

.card-headerNewProject {
    padding-left: 9px;
}

.newProjectContainer {
    border-radius: 5px;
    padding: 10px 30px;
}

.newProjectSaveButton {
    background-color: #007bff;
    color: white;
    float: right;
    margin-right: 5px;
}

.newProjectSaveManage {
    background-color: #007bff;
    color: white;
    float: right;
}

.newProjectTitle {
    border-bottom: 1px solid black;
}