body {
    background-image: url(../images/landing_1.png);
    background-size: 250px;
    background-position-y: 545px;
    background-position-x: 10px;
    background-repeat: no-repeat;
    z-index: 2;
}

.form-control {
    border: 2px solid black;
    z-index: 10;
}

.custom-select {
    border: 2px solid black;
}

.card-headerNewProject {
    padding-left: 9px;
}

.newProjectContainer {
    border-radius: 5px;
    padding: 10px 30px;
}

.newProjectSaveButton {
    background-color: #007bff;
    color: white;
    float: right;
    margin-right: 5px;
}

.newProjectSaveManage {
    background-color: #007bff;
    color: white;
    float: right;
}

.newProjectTitle {
    border-bottom: 1px solid black;
}

.clientDetailsBox {
    border-bottom: 1px solid black;
}
 
.datepicker table tr td.active.active, 
.datepicker table tr td.active.highlighted.active {
   background-color: #007bff;
}

.datepicker table tr td.today {
    color: black;
    background-color: #f1f1f1;
}

.calculatorButton {
    display: inline;
    font-size: 25px;
    margin-left: -51px;
    background-color: transparent;
    z-index: 10;
    height: 40px;
    color: black;
}

#dueDate {
    background-color: transparent;
    cursor: pointer;
}

.calendarIcon {
    font-size: 20px;
    margin-left: -45px;
    margin-top: 5px;
}