.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9fa19f;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #007bff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.payoutsTitle {
    padding-left: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.payoutsDetails {
    padding-left: 30px;
    margin-top: 10px;
}

.payoutsContainer {
    display: flex;
    justify-content: center;
}

.payoutsCard {
    width: 100%;
}

.title {
    cursor: pointer;
}

.calculatorButton {
    font-size: 20px;
    color: black;
}

.form-control {
    border: 2px solid black;
}

.taskId {
    width: 5vw;
    margin-left: 1vw;
}

.completedTask {
    width: 10vw;
}

.fixedPayMax {
    width: 8vw;
    margin-right: 1vw;
}

.variablePayMax {
    width: 10vw;
}

.fixedPayActual {
    width: 10vw;
    margin-right: 1vw;
}

.variablePayActual {
    width: 12vw;
    margin-right: 1vw;
}

.totalPay {
    width: 9vw;
    margin-right: 1vw;
}

.feedback {
    width: 20vw;
    margin-right: 1vw;
}

.tracker {
    width: 5vw;
}