.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9fa19f;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:not(:checked) + .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9fa19f;
    -webkit-transition: .4s;
    transition: .4s;
}

input:not(:checked) + .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #007bff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.payoutsTitle {
    padding-left: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.payoutsDetails {
    padding-left: 30px;
    margin-top: 10px;
}

.payoutsContainer {
    width: 99%;
}

.payoutsCard {
    width: 100%;
}

.title {
    cursor: pointer;
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
}

.calculatorButton {
    font-size: 20px;
    color: black;
}

.form-control {
    border: 2px solid black;
}

.taskId {
    width: 5vw;
    margin-left: 1vw;
}

.completedTask {
    width: 10vw;
}

.fixedPayMax {
    width: 8vw;
    margin-right: 1vw;
}

.variablePayMax {
    width: 10vw;
}

.fixedPayActual {
    width: 10vw;
    margin-right: 1vw;
}

.variablePayActual {
    width: 12vw;
    margin-right: 1vw;
}

.totalPay {
    width: 10vw;
    margin-right: 1vw;
}

.feedback {
    width: 25vw;
    margin-right: 1vw;
}

.tracker {
    width: 5vw;
}

.savePayoutsButton {
    width: 100px;
}

.manageProjectsToggle {
    display: flex;
    align-items: center;
}

.trackerButton {
    float: right;
}

.pointerClass {
    cursor: pointer;
}

.projectIdandTitle {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #fefefe;
    text-decoration: none;
    cursor: pointer;
}
  
.modal-header {
    padding: 2px 16px;
    background-color: #007bff;
    color: white;
}
  
.modal-body {padding: 2px 16px;}