* {
    scroll-behavior: smooth;
}

.container {
    max-width: 1300px;
}

.sectionTab {
    padding: 10px;
    box-shadow: 0px 3px 5px #b8b7b6;
}

h2 {
    font-size: 27px;
    display: inline;
    margin-right: 20px;
}

.borderBottom {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

h5 {
    font-size: 17px;
    padding: 5px;
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f1f1f1;
}

th, td {
    text-align: center;;
}

.tableHead {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #007bff !important;
    color: white;
}

.headNav {
    padding: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.pointerNav {
    display: inline;
}

.headNav a {
    display: inline;
    border-left: 1px solid black;
    padding: 1px 20px;
}
