.revenueTitle {
    border-bottom: 1px solid black;
}

.revenueForm {
    margin-top: 50px;
    padding-bottom: 10px;
}

.form-control {
    border: 2px solid black;
    width: 120px;
    margin-left: 20px;
}

.revenueSaveButton {
    width: 150px;
    float: right;
    margin-bottom: 20px;
}