@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
body {
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.homeBody {
    background: url(../images/undraw_metrics_gtu7.svg);
    background-size: 280px;
    background-position-y: 250px;
    background-position-x: 5px;
    background-repeat: no-repeat;
    background-blend-mode: saturation;
    z-index: 1;
}

.debug {
    border: solid black;
}

hr {
    width: 99%;
}

.title-head {
    font-size: 35px;
    padding-left: 40px;
    height: 80px;
    padding-top: 20px;
    display: inline;
}

.dot {
    color: #007bff;
}

.signinButton {
    background-color: #007bff;
    color: white;
    display: inline;
    margin-right: 10px;
    width: auto;
    float: right;
}

.signoutButton {
    background-color: #007bff;
    color: white;
    display: inline;
    width: auto;
    float: right;
}

.navbar {
    box-shadow: 0px 3px 5px #b8b7b6;
}

.homeNav {
    display: flex;
    align-items: center;
    height: 80px;
    box-shadow: 0px 3px 5px #b8b7b6;
}

.container1 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.container2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid black;
    width: 300px;
    margin: 10px 10px;
}

.card-header1 {
    display: flex;
    justify-content: center;
    border: none;
}

.card-body1 {
    display: flex;
    justify-content: center;
}

.cardIcon {
    font-size: 37px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.homeCard:hover {
    color: #007bff;
    transition: all 0.3s ease-out;
    box-shadow: 0px 8px 12px rgba(38, 38, 38, 0.2);
    top: -8px;
    border: 1px solid #cccccc;
    background-color: white;
}

.title-head1 {
    font-size: 30px;
    padding-left: 40px;
    padding-top: 8px;
}

.nav-item {
    margin-right: 12px;
}

nav .navbar-nav li a.active{
    color: #007bff !important;
}

nav .navbar-nav li a:hover{
    color: #007bff !important;
}
