.teamTitle {
    border-bottom: 1px solid black;
}

.borderClass {
    border: 2px solid black;
}

.backButton {
    border-radius: 50%;
    margin-right: 10px;
    background-color: white;
    font-size: 25px;
}

.backButton:hover {
    margin-right: 15px;
    margin-left: -5px;
    transition: 0.3s;
}

.backButton:active {
    box-shadow: none !important;
}

h5 {
    display: inline;
}

.saveDetailsButton {
    float: right;
    margin-left: 10px;
}

